<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1>Photo <%= @id %></h1>
    <div class="thumbnail">
      <img src="<%= @photo.source %>" alt="<%= @photo.caption %>">
      <div class="caption">
        <h3><%= @photo.caption %></h3>
        <p><%= @photo.caption %></p>
        <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary"><a href="http://localhost:3000/photos">Back to list</a></button>
        <button type="button" class="btn btn-default"><a href="http://localhost:3000/photos/<%= @photo.id %>/edit">Edit</a></button>
        <button type="button" class="btn btn-danger"><a href="http://localhost:3000/delete_photo/<%= @photo.id %>">Delete</a></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

